body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4,minmax(100px, 1fr));
  grid-auto-rows: minmax(auto,auto);
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-column: 1 / -1;
}

.sidebar {
  background-color: #005B94;
  grid-row: 2/ 5;
  grid-column: 1 / 2;
}

.nav {
  background-color: #642cde;
  grid-column: 2/5;
  grid-row: 2/4;
}

.article {
  background-color: #7E1DC3;
   grid-column: 2/ 5;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / -1;
}